a, button {
    outline:none;
    box-shadow:none;
    text-shadow:none;
    font-size:1em;
    cursor: pointer;
    transition: 0.5s all;
    &:focus, &:active, &:hover {
        outline:none !important;
        box-shadow:none !important;
        text-shadow:none !important;
    }
}
// Button
.btn {
    border:1px solid $no-clr;
    border-radius:0;
    padding:10px 15px;
    font-size:14px;
    line-height:20px;
    font-weight:600;
    text-align: center;
    position: relative;
    outline:none;
    box-shadow:none;
    text-shadow:none;
    cursor: pointer;
    letter-spacing: 1px;
    &:focus, &:active, &:hover {
        border:1px solid $no-clr;
        outline:none;
        box-shadow:none;
        text-shadow:none;
    }
    /* ----- Max Width 767px ----- */
    @media (max-width: $break_767) {
        line-height:18px;
        padding:8px 15px;
        letter-spacing: 0px;
    }
    // Btn Main
    &.btn-main {
        color:$white-clr;
        background-color:$primary-clr;
        border-color:$primary-clr;
        &:hover, &:focus {
            background-color:darken($primary-clr, 10%);
            border-color:darken($primary-clr, 10%);
        }
    }
    // White Btn
    &.btn-white {
        color:$primary-clr;
        background-color:$white-clr;
        border-color:$white-clr;
        &:hover, &:focus {
            color:darken($primary-clr, 5%);
        }
    }
    // Grey Btn
    &.btn-grey {
        color:$black-light;
        background-color:$grey-clr;
        border-color:$grey-clr;
        &:hover, &:focus {
            color:darken($black-light, 5%);
            background-color:darken($grey-clr, 10%);
            border-color:darken($grey-clr, 10%);
        }
    }
    // Btn Main Border
    &.btn-main-border {
        color:$primary-clr;
        background-color:$no-clr;
        border-color:$primary-clr;
        &:hover, &:focus {
            color:darken($primary-clr, 10%);
            border-color:darken($primary-clr, 10%);
        }
    }
    // Btn Grey Border
    &.btn-grey-border {
        color:$black-light;
        background-color:$no-clr;
        border-color:$grey-clr;
        &:hover, &:focus {
            color:$primary-clr;
            border-color:$primary-clr;
        }
    }
    // Btn White Border
    &.btn-white-border {
        color:$white-clr;
        background-color:$no-clr;
        border-color:$white-clr;
        &:hover, &:focus {
            color:darken($white-clr, 10%);
            border-color:darken($white-clr, 10%);
        }
    }
}